<h2>Tube</h2>
<div class="calculationitem">
    <div class="itemcontainer">
        <img
        alt="Tube"
        src="assets/images/tube.jpg"
        />
        <div class="parameterslist">
          <label>Thickness [mm]</label>
          <input type="number" #tubeInputThickness>
          <label>Diameter [mm]</label>
          <input class="" type="number" #tubeInputDiameter>
          <label>Length [mm]</label>
          <input type="number" #tubeInputLength>

          <button class="" 
          (click)="tubeButtonClicked(
              tubeInputThickness.value,
              tubeInputDiameter.value,
              tubeInputLength.value);"
          >Calculate!</button> 

          <label>Weight [kg]</label>
          <label class="solutionLabel" #tubeOutputWeight [style.color]=' messageColor ? "rgb(0, 255, 65)" : "red" '>{{ tubeOutputWeightValue }}</label>
        </div>
    </div>
</div>